@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: url('https://images.unsplash.com/photo-1606248897732-2b61e77a83a0') no-repeat center center/cover;
  height: 100vh;
  color: white;
}
body {
  margin: 0;
  background: #faf5f5; 
  font-family: 'Poppins', sans-serif;
}


